# https://github.com/github/gitignore/blob/master/R.gitignore

# RStudio temporary files
.Rproj.user/

# R History files (can just re-run code instead)
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Files containing data we will archive elsewhere, so omit from GitHub
data/SAW_Paper_Data.RData
inst/extdata/Students_Data-WinkeZhang.sav
inst/extdata/Testlet_Attempts_Data-WinkeZhang.sav
inst/extdata/164981-V1.zip

# Other folders we don't want to track
drafts
inst/doc
inst/manuscript

# Windows file for caching thumbnail images.
Thumbs.db

# Omit PDF output files from knitting .Rmd files in selected folders.
# These are the default output files we can omit from GitHub, but allows the 
# published versions to be tracked. 
inst/SAW_Paper_Analyze_Data.pdf
inst/SAW_Paper_Import_Explore_Data.pdf
inst/R_Citations.pdf

# Windows batch file only useful on my computer.
inst/Delete_nul_file.bat
